body {
  background-color: white;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: Garamond, Times New Roman, serif
}

/* navbar */
.navbar {
  overflow: hidden;
  background-color: white;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.5s;
}

.navbar a {
  display: block;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: purple;
  color: white;
  transition: 0.5s;
}

.main {
  margin-top: 30px;
}

#about {
  transition: 0.5s;
}
