body {
  background-color: white;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: Garamond, Times New Roman, serif
}

/* navbar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.5s;
}

nav li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: purple;
  transition: 0.5s;
}

#about {
  transition: 0.5s;
}
